.pokemon-container {
  display: flex;
  height: 100vh;
  margin: 150px;
}
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex: 60%;
  overflow-y: scroll;
  color: #ffff;
}
.selected-pokemon {
  margin: 15px;
}
.background-image {
  top: -5%;
  left: -7%;
  position: absolute;
  z-index: -1;
}
.pokemon-card {
  text-align: center;
  width: 250px;
  height: 150px;
  margin: 15px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
#pokemon-img {
  width: 120%;
  margin-top: 25px;
}
.pokemon-card:hover {
  transform: translateY(-5px);
}

.pokemon-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  color: #ffffff;
  background-color: #8a8a8a38;
  border-radius: 5px;
  text-transform: capitalize;
}
